<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <canvas id="video-canvas"></canvas>

    <button id="pull">PULL</button>
    <button id="restart">PM2_RESTART</button>
    <div id="screen"></div>

  <style>
  html,body{
    background: #000;
  }
  #video-canvas{
    transform: rotate(180deg);
  }
  </style>
    
    
    <script type="text/javascript" src="/javascripts/jsmpeg.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>


  <script type="text/javascript">
		var canvas = document.getElementById('video-canvas');
		var url = 'ws://192.168.31.38:8082 ';
		var player = new JSMpeg.Player(url, {canvas: canvas});
	</script>

    <script>

      var ws = new WebSocket('ws://192.168.31.38:12345');

      ws.addEventListener('open', function (event) {
        $(window).on('keydown', function(e){
          var key = e.keyCode;
          console.log(key)
          if(key === 37) {
            ws.send('0,1,1,0');
          }

          if(key === 38) {
            ws.send('1,0,1,0');
          }

          if(key === 39) {
            ws.send('1,0,0,1');
          }

          if(key === 40) {
            ws.send('0,1,0,1');
          }
          
          if(key  === 32){
            ws.send('1,0,1,0');
          }
        })
        
        $(window).on('keyup', function(e){
          if(key  !== 32){
            return false;
          }
          ws.send('0,0,0,0');
        })
      });


        $('#pull').click(() => {
          $.ajax({
            url: '/api/pull'
          }).done(res => {
            $('#screen').append(res).append('<br>------------------------------------<br>')
          })
        });

        $('#restart').click(() => {
          $.ajax({
            url: '/api/restart'
          }).done(res => {
            $('#screen').append(res).append('<br>------------------------------------<br>')
          })
        });

    </script>
  </body>
</html>
